# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Images
*.ppm

.vs
x64

vcpkg
vcpkg_installed

inspiration.txt

*_hd.obj

sources